$spaceAmounts: (0, 10, 15, 25, 30, 35, 40, 50);
$sides: (top, bottom, left, right);

/* COLORS */
$colorDefault : #0C6E3B;
$colorText: #8B8B8B;
$colorBlack: #1C1C1C;
$colorWhite: #FFFFFF;

/* END COLORS */

/* FONTS */
$fontThin: 'Graphik-Thin', sans-serif;
$fontExtraLight: 'Graphik-Extralight', sans-serif;
$fontLight: 'Graphik-Light', sans-serif;
$fontRegular: 'Graphik-Regular', sans-serif;
$fontMedium: 'Graphik-Medium', sans-serif;
$fontSemiBold: 'Graphik-Semibold', sans-serif;
$fontBold: 'Graphik-Bold', sans-serif;
$fontBlack: 'Graphik-Black', sans-serif;
$fontSuper: 'Graphik Super', sans-serif;
/* END FONTS */
